!!! 5
html(lang='en', ng-app='phonecatApp', ng-controller='PhoneListCtrl', ng-cloak)
head
	meta(charset='utf-8')
	link(rel='stylesheet', href='/javascripts/libs/angular/angular-csp.css')
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	title My Angular File
body
	block content

block scripts

